.projectCard {
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.26);
    width: 100px;
    text-decoration: none;
    color: black;
    width: 350px;
}

.cardImg {
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.26);
}

button {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#f5f5f5),
        to(#f1f1f1)
    );
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

button:hover {
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
