.profilePic {
    width: 9rem;
    height: 100%;
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 2px;
    /* border-radius: 50%; */
    /* shape-outside: circle(50%); */
    /* margin: 10 auto; */
}

.profilePic img {
    border-radius: 2px;
}
