.dropdown {
    margin-left: 5vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 3;
    position: absolute;
    height:200px;
    transition: all 0.5s ease-in;
}

.bottomBorderRadius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section {
    height: 50px;
}

.section:hover {
    background: black;
}