.projectCard {
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.26);
    width: 100px;
    text-decoration: none;
    color: black;
    width: 350px;
}

.cardImg {
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.26);
}

.phoneTop {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
