.contactItem {
    font-weight: 500;
    padding-left: 10px;
}

.linkWrapper {
    text-decoration: none;
    color: #5f6368;
    border-radius: 20px;
    padding: 12px;
}

.linkWrapper:hover {
    transition: all 0.2s;
    background: rgba(0, 0, 0, 0.2);
}
