
.hamburger {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
}

.hamburger:hover .hamburgerDot {
    background: black;
}

.hamburgerDot {
    height: 4px;
    width: 4px;
    margin: 1px;
    background: gray;
}

.arrowTop {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    /* display: none; */
    position: absolute;

    /* if hamburger shifts around, it can be shifted back here */
    left: 10px;
    z-index: 5;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: 29px;
}

.arrowBottom {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    /* display: none; */
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 5;
    height: 0;
    width: 0;
}