.topLink {
    text-decoration: none;
    color: black;
}

.topLink:hover {
    text-decoration: underline;
}

.headerSearch {
    border-radius: 20px;
    padding-left: 20px;
    width: 220px;
}

.arrowContainer {
    position: relative;
}