.containerWrapper {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.26);
    outline: 0;
    border-radius: 2px;
    max-width: 484px;
    width: 90%;
}

.flatBottomBr {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.searchContainer {
    height: 40px;
    border-bottom: gray;
    line-height: 27px;
}

input {
    margin: 10px;
    outline: 0;
    border: white solid 0px;
    width: 93%;
}

.resultsContainer {
    padding: 10px;
    border-top: 1px solid lightgray;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.26);
    outline: 0;
    border-radius: 2px;
    max-width: 484px;
    width: 100%;
    background: white;
    z-index: 5;
}

.flatTopBr {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
