.topLink {
    text-decoration: none;
    color: black;
}

.topLink:hover {
    text-decoration: underline;
}

.initial {
    background: red;
    border-radius: 50%;
    color: white;
    width: 32px;
    height: 32px;
}
